{% extends 'base.html' %}
{% block navbar %}
<li><a href="{{ url_for('hospital') }}">Hospitals</a></li>
{% if current_user.role == "hospital" %}
    <li><a href="{{ url_for('patient_list') }}">Patients</a></li>
    <li><a href="{{ url_for('patient_add') }}">Add Patients</a></li>
    <li><a href="{{ url_for('doctor_add') }}">Add Doctor</a></li>
    <li><a href="{{ url_for('profilehospital', hospital_id = current_user.hospital.id) }}">Logged in as: {{current_user.name}}</a></li>
{% endif %}
{% if current_user.role == "admin" %}
    <li><a href="{{ url_for('addhospital') }}">Add Hospital</a></li>
    <li><a href="{{ url_for('complaint') }}">Complaints</a></li>
    <li><a href="#">Logged in as: {{current_user.name}}</a></li>
{% endif %}
<li><a href="{{ url_for('logout') }}">Logout</a></li>
{% endblock navbar %}
{% block content %}

<div class="profile__header">
    <div class="container profile__container">
        <div class="card">
            <div class="card-header">  <h4 >User Profile</h4></div>
                <div class="title">
                    <h4 style="color:#00b1b1;">{{ patient.name.title() }} </h4>
                         
                </div>
                <div class="clearfix"></div>
                <hr style="margin:5px 0 5px 0;">
        
                  <div class="row">
                        <div class="col-sm-5 col-xs-6 tital">Age:</div>
                        <div class="col-sm-7 col-xs-6">{{ patient.age }}</div>
                        <div class="clearfix"></div>
                        
                  </div>
                  <div class="bot-border"></div>
                    
                  <div class="row">
                    <div class="col-sm-5 col-xs-6 tital">Gender:</div>
                    <div class="col-sm-7">{{ patient.gender.title() }}</div>
                      <div class="clearfix"></div>
                    
                </div>
                <div class="bot-border"></div>
    
                <div class="row">
                    <div class="col-sm-5 col-xs-6 tital">Status</div>
                    <div class="col-sm-7">{{ patient.status.title() }}</div>
                      <div class="clearfix"></div>
                    
                </div>
                <div class="bot-border"></div>
                <div class="row">
                    <div class="col-sm-5 col-xs-6 tital">Admit Date</div>
                    <div class="col-sm-7">{{ patient.admit_date.strftime('%Y-%m-%d') }}</div>
                        <div class="clearfix"></div>
                    
                </div>
                <div class="bot-border"></div>
                <div class="row">
                    <div class="col-sm-5 col-xs-6 tital">Discharge Date</div>
                    {% if patient.discharge_date %}
                        <div class="col-sm-7">{{ patient.discharge_date.strftime('%Y-%m-%d') }}</div>
                    {% else %}
                        <div class="col-sm-7">----</div>
                    {% endif %}
                        <div class="clearfix"></div>
                    
                </div>
                <div class="bot-border"></div>
                <div class="row">
    
                    <div class="col-sm-5 col-xs-6 tital">Phone Number:</div>
                    <div class="col-sm-7">{{ patient.phone }}</div>
                        <div class="clearfix"></div>
                    
                </div>
                <div class="bot-border"></div>
                <div class="row">
    
                    <div class="col-sm-5 col-xs-6 tital">Address:</div>
                    <div class="col-sm-7">{{ patient.address.title() }}</div>
                        <div class="clearfix"></div>
                    
                </div>
                <div class="bot-border"></div>
                <div class="row">
    
                    <div class="col-sm-5 col-xs-6 tital">Blood Group:</div>
                    <div class="col-sm-7">{{ patient.blood_group.title() }}</div>
                        <div class="clearfix"></div>
                    
                </div>
                <div class="bot-border"></div>
                <div class="row">
                    <div class="col-sm-5 col-xs-6 tital">Bed Number:</div>
                    <div class="col-sm-7">{{ patient.bed.bed_number }}</div>
                </div>
                <div class="bot-border"></div>
                <div class="row">
                    <div class="col-sm-5 col-xs-6 tital">Bed Type:</div>
                    <div class="col-sm-7">{{ patient.bed.bed_type.title() }}</div>
                </div>
                <div class="bot-border"></div>
                <div class="row">
                    <div class="col-sm-5 col-xs-6 tital">Cost:</div>
                    <div class="col-sm-7">{{ patient.bed.cost }}</div>
                </div>
                <div class="bot-border"></div>
                <div class="row">
                    <div class="col-sm-5 col-xs-6 tital">Doctor Name</div>
                    <div class="col-sm-7">{{ patient.doctor.name.title() }}</div>
                </div>
                {% if current_user.role == "hospital" %}
                <div class="bot-border"></div>
                <div class="row">
                    <a type="button" class="btn btn-primary col" id="patient__button" href="{{ url_for('patient_update', patient_id=patient.id) }}">Edit</a>
                </div>
                {% endif %}
            </div>
    </div>
    
</div>





{% endblock content %}
